@model LabProject.Models.Utilizador

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login_style.css">


<div class="row">
    <div class="col-md-4">
        <p class="login-titulo">Login no Jiro</p>
        <form asp-action="Login" class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Username" class="control-label"></label>*@
                <input asp-for="Username" class="form-control" placeholder="Username" />
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
            <div class="form-group">
                @*<label asp-for="Password" class="control-label"></label>*@
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group">
                <input type="button" value="Registar" class="button" onclick="registo()" />
                <input type="submit" value="Login" class="button" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
   function registo() {
        window.location.href="@Url.Action("Registar", "Utilizador")";

    }
    
</script>
