@model LabProject.Models.Utilizador



@{
    ViewData["Title"] = "Registar";
    
}

<!DOCTYPE html>
<html>

<link rel="stylesheet" href="~/css/registo_style.css">


<div class="flex-child Container">
    <div class="registo-cartao">
        <p class="registo-titulo">Registar no Jiro</p>
        <form class="registo-form" id="registo">
            <div id="primeiro-cartao">
                <div class="registo-linha">
                    <button type="button" class="button" onclick="change_cliente()" style="width: 35%;">Cliente</button>
                    <button type="button" class="button" onclick="change_restaurante()" style="width: 35%;">Restaurante</button>
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="nome" id="NameInput" placeholder="Nome próprio">
                    @*<input type="text" class="input" name="apelido" placeholder="Apelido">*@
                    
                </div>
                <div class="registo-linha">
                    <input  type="email" class="input" name="mail" placeholder="E-mail">
                   
                </div>
                <div class="registo-linha">
                    <input  type="text" class="input" name="user" placeholder="Username">
                </div>
                <div class="registo-linha">
                    <input  type="password" class="input" name="pass" placeholder="Password">
                    <input type="password" class="input" name="pass-confirm" placeholder="Confirmar">
                </div>
                <div class="registo-linha ">
                    <input class="input" placeholder="Adicionar foto">
                </div>
                <div class="registo-linha">
                    <button onclick="registar()"></button>
                </div>
            </div>
            <div id="segundo-cartao" style="display:none">
                <div class="registo-linha">
                    <input type="tel" class="input" name="telefone" placeholder="Telefone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="morada" placeholder="Morada">
                </div>
                <div class="registo-linha">
                    <input type="number" class="input" name="mail" placeholder="Horário de abertura">
                    <input type="number" class="input" name="mail" placeholder="Horário de fecho">
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="descanço" placeholder="Dia de descanço">
                </div>
                <div class="registo-linha">
                    <button type="button" class="button" onclick="botao_anterior()">Anterior</button>
                    <button type="button" class="button" onclick="registo()">Concluir</button>
                </div>
            </div>
        </form>
    </div>

</html>

<script>
    function change_cliente() {
        document.getElementById("registar").textContent = "Registar";

    }
    function change_restaurante() {
        document.getElementById("registar").textContent = "Seguinte";

    }
    function registo() {
        if (document.getElementById("registar").textContent == "Seguinte") {
            document.getElementById("primeiro-cartao").style.display = "none";
            document.getElementById("segundo-cartao").style.display = "inline";
        }

    }
    function botao_anterior() {
        document.getElementById("primeiro-cartao").style.display = "inline";
        document.getElementById("segundo-cartao").style.display = "none";
    }

    function registar()
    {
        alert("top");
        var nome1 = ("#NomeInput").text();
        $.ajax({
        url: '@Url.Action("Registar2Submit")', // to get the right path to controller from TableRoutes of Asp.Net MVC
        dataType: "json", //to work with json format
        type: "POST", //to do a post request
        //contentType: 'application/json; charset=utf-8', //define a contentType of your request
        cache: false, //avoid caching results
            data: {
                nome: $("#NomeInput").text()
            }, // here you can pass arguments to your request if you need
        success: function (data) {
             // data is your result from controller
            if (data.success) {
                alert(data.message);
            }
        },
        error: function (xhr) {
            alert('error');
        }
        });
    }

</script>