@model LabProject.Models.Utilizador

<link rel="stylesheet" href="~/css/registo_style.css">

<div class="row">
    <div class="col-md-4">
        <p class="registo-titulo">Registar no Jiro</p>
        <form asp-action="Registar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <button type="button" class="button botao-selecionado" onclick="change_cliente()" style="width: 35%;">Cliente</button>
                <button type="button" class="button" onclick="change_restaurante()" style="width: 35%;">Restaurante</button>
            </div>
            <div class="form-group">
                @*<label asp-for="Name" class="control-label"></label>*@
                <input asp-for="Name" class="form-control" placeholder="Nome" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Email" class="control-label"></label>*@
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Username" class="control-label"></label>*@
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Password" class="control-label"></label>*@
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Imagem" class="control-label"></label>*@
                <input type="file" name="files" id="image" class="form-control" ~accept="image/*" onchange="validateFileType();" />
            </div>
            <div class="form-group">
                <input type="submit" value="Registar" class="btn btn-primary button" />
            </div>
        </form>
    </div>
</div>


<script>
    function change_cliente() {
        //document.getElementById("registar").textContent = "Registar";
        //document.getElementById("registar").style.display = "inline";

    }
    function change_restaurante() {
        window.location.href="@Url.Action("Registar2", "Utilizador")";

    }
    function validateFileType() {
        var fileName = document.getElementById("image").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (!(extFile == "jpg" || extFile == "jpeg" || extFile == "png")) {
            alert("Only jpg/jpeg and png files are allowed!");
        }
    }
    @*function registar()
    {
        $.ajax({
        url: '@Url.Action("Registar2")', // to get the right path to controller from TableRoutes of Asp.Net MVC
        dataType: "json", //to work with json format
        type: "POST", //to do a post request
        //contentType: 'application/json; charset=utf-8', //define a contentType of your request
        cache: false, //avoid caching results
            data: {
                nome: $("#NomeInput").text()
            }, // here you can pass arguments to your request if you need
        success: function (data) {
             // data is your result from controller
            if (data.success) {
                alert(data.message);
            }
        },
        error: function (xhr) {
            alert('error');
        }
        });
    }*@
</script>