@model LabProject.Models.Utilizador



@{
    ViewData["Title"] = "Registar";
    TempData["cliente"] = 1;
}

<!DOCTYPE html>
<html>

<link rel="stylesheet" href="~/css/registo_style.css">


<div class="flex-child Container">
    <div class="registo-cartao">
        <p class="registo-titulo">Registar no Jiro</p>
        <form class="registo-form" id="registo">
            <div id="primeiro-cartao">
                <div class="registo-linha">
                    <button type="button" class="button" onclick="change_cliente()" style="width: 35%;">Cliente</button>
                    <button type="button" class="button" onclick="change_restaurante()" style="width: 35%;">Restaurante</button>
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="nome" placeholder="Nome próprio">
                    <input type="text" class="input" name="apelido" placeholder="Apelido">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="registo-linha">
                    <input type="email" class="input" name="mail" placeholder="E-mail">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="user" placeholder="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="registo-linha">
                    <input type="password" class="input" name="pass" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="password" class="input" name="pass-confirm" placeholder="Confirmar">
                </div>
                <div class="registo-linha ">
                    <input class="input" placeholder="Adicionar foto">
                </div>
                <div class="registo-linha">
                    <button type="submit" class="button" id="registar" onclick="registo()">Registar</button>
                </div>
            </div>
            <div id="segundo-cartao" style="display:none">
                <div class="registo-linha">
                    <input type="tel" class="input" name="telefone" placeholder="Telefone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="morada" placeholder="Morada">
                </div>
                <div class="registo-linha">
                    <input type="number" class="input" name="mail" placeholder="Horário de abertura">
                    <input type="number" class="input" name="mail" placeholder="Horário de fecho">
                </div>
                <div class="registo-linha">
                    <input type="text" class="input" name="descanço" placeholder="Dia de descanço">
                </div>
                <div class="registo-linha">
                    <button type="button" class="button" onclick="botao_anterior()">Anterior</button>
                    <button type="button" class="button" onclick="registo()">Concluir</button>
                </div>
            </div>
        </form>
    </div>

</html>

<script>
    function change_cliente() {
        document.getElementById("registar").textContent = "Registar"

    }
    function change_restaurante() {
        document.getElementById("registar").textContent = "Seguinte"

    }
    function registo() {
        if (document.getElementById("registar").textContent == "Seguinte") {
            TempData["cliente"] = 0;
            document.getElementById("primeiro-cartao").style.display = "none";
            document.getElementById("segundo-cartao").style.display = "inline";
        }
        else {
            //goto other login
            //window.location.href = "/Utilizador/Login";
            TempData["cliente"] = 1;
        }
    }
    function botao_anterior() {
        document.getElementById("primeiro-cartao").style.display = "inline";
        document.getElementById("segundo-cartao").style.display = "none";
    }


</script>