@model LabProject.Models.RestauranteCompleto



<div class="row">
    <div class="col-md-4">
        <form asp-action="Registar2" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="primeiro-cartao">
                <div class="form-group">
                    <button type="button" class="button" onclick="change_cliente()" style="width: 35%;">Cliente</button>
                    <button type="button" class="button" onclick="change_restaurante()" style="width: 35%;">Restaurante</button>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagem" class="control-label"></label>
                    <input asp-for="Imagem" class="form-control" />
                    <span asp-validation-for="Imagem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Seguinte" class="btn btn-primary" onclick="registo()" />
                </div>
            </div>
            <div id="segundo-cartao" style="display:none">
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Morada" class="control-label"></label>
                    <input asp-for="Morada" class="form-control" />
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraAbertura" class="control-label">Hora de abertura</label>
                    <input asp-for="HoraAbertura" class="form-control" />
                    <span asp-validation-for="HoraAbertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraFecho" class="control-label">Hora de fecho</label>
                    <input asp-for="HoraFecho" class="form-control" />
                    <span asp-validation-for="HoraFecho" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaDescanso" class="control-label">Dia de descanso</label>
                    <input asp-for="DiaDescanso" class="form-control" />
                    <span asp-validation-for="DiaDescanso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Anterior" class="btn btn-primary" onclick="botao_anterior()" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function change_cliente() {
        window.location.href="@Url.Action("Registar", "Utilizador")";

    }
    function change_restaurante() {

        //document.getElementById("registar").textContent = "Seguinte";
        //document.getElementById("registar").style.display = "inline";

    }
    function registo() {
        document.getElementById("primeiro-cartao").style.display = "none";
        document.getElementById("segundo-cartao").style.display = "inline";

    }
    function botao_anterior() {
        document.getElementById("primeiro-cartao").style.display = "inline";
        document.getElementById("segundo-cartao").style.display = "none";
    }

    @*function registar()
    {
        alert("top");
        var nome1 = ("#NomeInput").text();
        $.ajax({
        url: '@Url.Action("Registar2Submit")', // to get the right path to controller from TableRoutes of Asp.Net MVC
        dataType: "json", //to work with json format
        type: "POST", //to do a post request
        //contentType: 'application/json; charset=utf-8', //define a contentType of your request
        cache: false, //avoid caching results
            data: {
                nome: $("#NomeInput").text()
            }, // here you can pass arguments to your request if you need
        success: function (data) {
             // data is your result from controller
            if (data.success) {
                alert(data.message);
            }
        },
        error: function (xhr) {
            alert('error');
        }
        });
    }*@

</script>