@model LabProject.Models.RestauranteCompleto

<link rel="stylesheet" href="~/css/registo_style.css">

<div class="row">
    <div class="col-md-4">
        <p class="registo-titulo">Registar no Jiro</p>
        <form asp-action="Registar2" class="registo-form" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="primeiro-cartao">
                <div class="form-group">
                    <button type="button" class="button" onclick="change_cliente()" style="width: 35%; ">Cliente</button>
                    <button type="button" class="button botao-selecionado" onclick="change_restaurante()" style="width: 35%;">Restaurante</button>
                </div>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" placeholder="Nome" />

                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email" />

                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Username" />

                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" />

                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="form-group">
                    <input type="file" name="files" id="image" class="form-control" ~accept="image/*" onchange="validateFileType();" />
                </div>
                <div class="form-group">
                    <input type="button" value="Seguinte" class="button" onclick="registo()" />
                </div>
            </div>
            <div id="segundo-cartao" style="display:none">
                <div class="form-group">
                    <input asp-for="Telefone" class="form-control" placeholder="Telefone" />

                </div>
                <span asp-validation-for="Telefone" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Morada" class="form-control" placeholder="Morada" />

                </div>
                <span asp-validation-for="Morada" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="HoraAbertura" class="form-control" placeholder="Hora de abertura" />

                </div>
                <span asp-validation-for="HoraAbertura" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="HoraFecho" class="form-control" placeholder="Hora de fecho" />

                </div>
                <span asp-validation-for="HoraFecho" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="DiaDescanso" class="form-control" placeholder="Dia de descanso" />

                </div>
                <span asp-validation-for="DiaDescanso" class="text-danger"></span>
                <div class="form-group">
                    <input type="button" value="Anterior" class="button" onclick="botao_anterior()" />
                    <input type="submit" value="Registar" class="button" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function change_cliente() {
        window.location.href="@Url.Action("Registar", "Utilizador")";
    }
    function registo() {
        document.getElementById("primeiro-cartao").style.display = "none";
        document.getElementById("segundo-cartao").style.display = "inline";
    }
    function botao_anterior() {
        document.getElementById("primeiro-cartao").style.display = "inline";
        document.getElementById("segundo-cartao").style.display = "none";
    }
    function validateFileType() {
        var fileName = document.getElementById("image").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (!(extFile == "jpg" || extFile == "jpeg" || extFile == "png")) {
            alert("Only jpg/jpeg and png files are allowed!");
            document.getElementById("image").value = null;
        }
    }
</script>