@model string

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">


    <div class="BloqueadoContainer">
        <h1 class="CenteredTitle">Sem Resultado</h1>

        <h3 class="CenteredText">Não foram encontrados Resultados para a pesquisa feita</h3>
    </div>


    <style>

        .BloqueadoContainer {
            height: 100%;
        }

        .CenteredText {
            font-family: MainFont, sans-serif;
            font-size: 18px;
            color: #292929;
            text-align: center;
        }

        .CenteredTitle {
            font-family: 'Rubik Mono One', sans-serif;
            font-size: 90px;
            padding-top: 100px;
            color: #292929;
            text-align: center;
        }
    </style>