@model IEnumerable<LabProject.Models.Utilizador>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/registo_style.css">
<div class="form-group">
    <a class="button botao-selecionado" id="1" onclick="change_button_selected1" asp-controller="Utilizador" asp-action="VerUtilizadores" asp-route-tipo="Clientes" style="width: 35%;">Cliente</a>
    <a class="button" id="2" onclick="change_button_selected2" style="width: 35%;" asp-controller="Utilizador" asp-action="VerUtilizadores" asp-route-tipo="Restaurantes">Restaurante</a>
</div>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Imagem)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>

    <td>
        <a class="button" asp-controller="Utilizador" asp-action="Details" asp-route-id="@item.Id" style="width: 30px;height:30px;">Ver Perfil</a>
    </td>

    <td>
        <a class="button" asp-controller="Utilizador" asp-action="Delete"  asp-route-id="@item.Id" style="width: 30px;height:30px; color: red;">Bloquear</a>
    </td>
</tr>
    <br />
    <br />
}


<script>
    function change_button_selected1() {

        document.getElementById("1").classList.add("botao-selecionado");
        document.getElementById("2").classList.remove("botao-selecionado");
    }
    function change_button_selected2() {

        document.getElementById("1").classList.remove("botao-selecionado");
        document.getElementById("2").classList.add("botao-selecionado");
    }
   
    
  

</script>
