.GridContainer {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	align-content: flex-start;
	transition: 1s;
}

.GridSquare {
	height: 150px;
	width: 200px;
	background-color: #E1DBD0;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: 1s;
}

.GridSquareImagem {
	background-image: url(../Images/Pratos/AAA001.jpg);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid white;
}
.GridSquareNome {
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #A8A8A7;
	text-align: center;
	line-height: 20px;
	margin-top: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 19px;
	vertical-align: middle;
	padding-top: 9px;
}


form.SearchBar input[type=text] {
	border:none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
	font-size: 18px;
	float: left;
	width: 85%;
	background: #dfdfdf;
}

/* Style the submit button */
form.SearchBar button {
	float: left;
	width: 10%;
	padding: 10px;
	background: #dfdfdf;
	color: white;
	font-size: 17px;
	border: 1px solid #dfdfdf;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

	form.SearchBar button:hover {
		background: #868686;
	}

/* Clear floats */
form.SearchBar::after {
	content: "";
	clear: both;
	display: table;
}

.SearchContainer{
	padding: 50px;
}
