.GridContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: 1s;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}

.GridSquare {
	height: 150px;
	width: 200px;
	background-color: #E1DBD0;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	transition: 0.3s;
}

	.GridSquare:hover {
		-webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
		box-shadow: 3px 3px 5px 6px #ccc;
	}


.GridSquareImagem {
	background-image: url(../Images/Pratos/AAA001.jpg);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid white;
}
.GridSquareNome {
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #A8A8A7;
	text-align: center;
	line-height: 20px;
	margin-top: 10px;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 19px;
	vertical-align: middle;
	padding-top: 9px;
}

.SearchBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-between;
}


form.SearchBar input[type=text] {
	border: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
	font-size: 18px;
	background: #dfdfdf;
	flex-grow: 8;
}

.SearchBarDate {
	flex-grow: 2;
	max-width:200px;
}

/* Style the submit button */
form.SearchBar button {
	float: left;
	width: 10%;
	padding: 10px;
	background: #dfdfdf;
	color: white;
	font-size: 17px;
	border: 1px solid #dfdfdf;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	flex-grow: 1;
}

	form.SearchBar button:hover {
		background: #868686;
	}

/* Clear floats */
form.SearchBar::after {
	content: "";
	clear: both;
	display: table;
}

.SearchContainer {
	width: 90%;
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.GridRectangle {
	width: 90%;
	height: 230px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
}

	.GridRectangle:hover {
		-webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
		box-shadow: 3px 3px 5px 6px #ccc;
	}

.RestauranteBanner {
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
}

.RestauranteNome {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;
	height: 50px;
	width: 100%;
	background-color: #a8a8a7;
	padding-top: 5px;
	padding-left: 15px;
}

.RestaurantePratosContainer {
	background-color: #e6e6e5;
	height: 80px;
	display:flex;
}

.RestaurantePrato {
	background-color: #e1dbd0;
	width: 250px;
	height: 100%;
	display: flex;
	transition: 0.3s;
}

	.RestaurantePrato:hover {
		background-color: #b7a178;
	}

.favoritoBlock {
	width: 140px;
	height: 30px;
	border: 2px solid green;
	margin-left: 15px;
	margin-top: 25px;
	text-align: center;
	padding-top: 0px;
	transition: 0.3s;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	cursor: pointer;
}
	.favoritoBlock:hover {
		background-color: green;
		color: white;
	}

	.PratoEscolhidoDescricao {
		font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
		font-size: 19px;
		width: 170px;
		padding-left: 15px;
		display: flex;
		flex-direction: column;
		padding-top: 5px;
	}

.PratoEscolhidoDescricaoPreco {
	font-size: 15px;
	display: inline-block;
	align-self: flex-end;
	width:100%;
	padding-top:15px;

}

.GridRectangleImagem {
	background-image: url(../Images/Pratos/AAA001.jpg);
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid white;
}


.VerGridRectangle {
	width: 90%;
	height: 250px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
}

.VerRestauranteBanner {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.VerRestauranteNome {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 29px;
	height: 50px;
	width: 100%;
	background-color: #a8a8a7;
	padding-top: 5px;
	padding-left: 15px;
}

.VerInformacoes {
	display: flex;
	width: 90%;
	margin: 20px 5% 20px 5%;

}

.VerInformacoesDescricao {
	width: 60%;
	background-color: #e6e6e5;
}

.VerInformacoesMapa {
	width: 40%;
}

.VerInformacoesDescricao p {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 8px;
	margin-left: 10px;
}

.verGridContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: 1s;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.VerGridSquare {
	height: 300px;
	width: 300px;
	background-color: #E1DBD0;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	transition: 0.3s;
}

	.VerGridSquare:hover {
		-webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
		box-shadow: 3px 3px 5px 6px #ccc;
	}


.VerGridSquareNome {
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 22px;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	vertical-align: middle;
	padding-top: 16px;
	margin-left: 15px;
}

.VerGridSquareCentral {
	width: 100%;
	height: 110px;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.VerGridSquareCentralTexto p {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	margin-top: 0px;
}

.VerGridSquareCentralFoto {
	width: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.VerGridSquareDesc {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 15px;
}

.VerSpan {
	margin-right: 5px;
	margin-left: 10px;
	font-size: 20px;
}

.AprovarBar {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #bdbdbd;
}

.ButtonAprovar {
	margin-left: 10px;
	height: 50px;
	width: 100px;
	text-align: center;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	vertical-align: middle;
	border: none;
	background-color: transparent;
}

	.ButtonAprovar:hover {
		background-color: #868686;

	}



.NomePro {
	margin-right: auto;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	vertical-align: middle;
	text-align: center;
	margin-top: 10px;
	margin-left: 15px;
}

.ButaoAdicionar {
	width: 160px;
	background-color: green;
	color: white;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	margin-left: 5%;
	line-height: 80px;
	padding: 8px 25px 8px 25px;
	transition: 0.3s;
}
	.ButaoAdicionar:hover {
		text-decoration: none;
		outline: none;
		background-color: #006600;
	}


.ButaoAdicionarExistente {
	width: 160px;
	background-color: green;
	color: white;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	margin-left: 5%;
	line-height: 80px;
	padding: 8px 25px 8px 25px;
	transition: 0.3s;
}

	.ButaoAdicionarExistente:hover {
		text-decoration: none;
		outline: none;
		background-color: #006600;
	}

.SubmeterPratoExistenteForm {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 500px;
}




.SubmeterPratoTitulo {
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
}


.VerUtilizadoresRow{
	height:100px;
	width:100%;
	display:flex;
}

.VerUtilizadoresElement {
	height: 100px;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
}

.ButaoFavoritos {
	width: 200px;
	background-color: green;
	color: white;
	font-family: MainFont,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 5%;
	line-height: 22px;
	padding: 8px 25px 8px 25px;
	transition: 0.3s;
	margin-bottom:20px;
}


	.ButaoFavoritos:hover {
		text-decoration: none;
		outline: none;
		background-color: #006600;
	}