<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/shared_style.css">

</head>
<body>

    <div class="flex-container">
        <div class="flex-child">

            <div class="perfil-container">
                <div class="perfil-imagem perfil-child"></div>

                @{ if (!Convert.ToBoolean(TempData["Autenticado"]))
                    {
                        <a class="perfil-ver perfil-child" asp-area="" asp-controller="Utilizador" asp-action="Login">Login</a>
                        <a class="perfil-ver perfil-child" asp-area="" asp-controller="Utilizador" asp-action="Registar">Registar</a>

                    }
                else
                {
                    <p class="perfil-nome perfil-child">@TempData["username"]</p>
                    <p class="perfil-ver perfil-child">@TempData["email"]</p>
                } 
                }
            </div>


            <div class="sidebar-container">

                <a tabindex="-1" id="NavegarBar" class="sidebar-tab noselect" style="border-top: 1px solid white;" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-map-marked-alt fonticon"></i>Navegar</a>
                <a tabindex="-1" id="PesquisarBar" class="sidebar-tab noselect" asp-area="" asp-controller="Home" asp-action="Pesquisar"><i class="fas fa-search fonticon"></i>Pesquisar</a>
                <a tabindex="-1" id="AvisoBar" class="sidebar-tab noselect" asp-area="" asp-controller="Home" asp-action="Avisos"><i class="fas fa-bell fonticon"></i>Avisos</a>
                <a tabindex="-1" id="FavoritosBar" class="sidebar-tab noselect" asp-area="" asp-controller="Home" asp-action="Favoritos"><i class="fas fa-star fonticon"></i>Favoritos</a>
                <a tabindex="-1" id="PerfilBar" class="sidebar-tab noselect" asp-area="" asp-controller="Home" asp-action="Perfil"><i class="fas fa-id-badge fonticon"></i>Perfil</a>
                <a tabindex="-1" id="PerfilBar" class="sidebar-tab noselect" asp-area="" asp-controller="Home" asp-action="Perfil"><i class="fas fa-sign-out-alt fonticon"></i>Log Out</a>

            </div>

        </div>

        <div class="flex-child Container" role="main">

            @RenderBody()

        </div>

    </div>




    nnh
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<!--Estilos de correção-->
<style>
    a:hover {
        color: white;
    }
</style>