@model IEnumerable<LabProject.Models.Prato>

@{
    Layout = null;
}

<!DOCTYPE html>

<link rel="stylesheet" href="~/css/Grid_style.css">
<link rel="stylesheet" href="~/css/Pratos_style.css">

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="GridContainer">

        @foreach (var item in Model)
        {
            <div class="GridSquare">
                @Html.DisplayFor(modelItem => item.Nome)<br />
                @Html.DisplayFor(modelItem => item.TipoPrato.Nome)<br />
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </div>



        }

    </div>

</body>
</html>
