@model IEnumerable<LabProject.Models.Prato>


<link rel="stylesheet" href="~/css/Grid_style.css">
<link rel="stylesheet" href="~/css/Pratos_style.css">


<div class="SearchContainer">
    <form class="SearchBar">
        <input type="text" placeholder="Procurar..." name="Procurar">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>


<div class="GridContainer">

    @foreach (var item in Model)
    {
    <div class="GridSquare">
        <div class="GridSquareImagem" style='background-image:url(@Html.DisplayFor(modelItem => item.Foto))'></div>
        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@

        <div class="GridSquareNome">@Html.DisplayFor(modelItem => item.Nome)</div>

    </div>



    }

</div>
